# Follow *nix symlinks through and disallow directory listings
#Options +FollowSymLinks -Indexes 

# Turn on the Rewriting Engine
RewriteEngine On  

# Does the file exist? If so, do not rewrite it.
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f  

# The requested file does not exist, so rewrite the request to use index.php
RewriteRule (.*) index.php?q=$1&%1
